.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
        rgba(111, 7, 121, 0.3) 0%,
        rgba(5, 1, 34, 0.9) 100%);
    z-index: -1;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: transparent;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: #fff;
}

p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    margin-bottom: 15px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(45deg, #6f0779, #a167ba);
    color: white;
    width: 100%;
}

button:hover {
    background: linear-gradient(45deg, #8a589f, #6f0779);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.745);
}

.neon-button {
    padding: 12px 30px; 
    border: none; 
    border-radius: 25px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    background: rgba(255, 255, 255, 0.1); 
    color: white; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
    width: 100%;
}

.neon-button:hover {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.745);
}

.boasvindas {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre a imagem e o formulário */
}

.boasvindas img {
    max-width: 100%; /* Ajusta para caber na largura da tela */
    height: auto; /* Mantém a proporção */
    max-height: 150px; /* Limita a altura da imagem */
    display: inline-block;
}

.neon-button:hover {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.745);
    color: white;
}