{% extends "base.html" %}

{% block content %}
<div class="ideia-container">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% else %}
    {% if eh_autor %}
    <div class="ideia-actions">
        <a href="{{ url_for('capitulos.edit_capitulo', capitulo_id=capitulo.id) }}" class="btn-edit">Editar</a>
        <form action="{{ url_for('capitulos.delete_capitulo', capitulo_id=capitulo.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este capitulo?');">
            <button type="submit" class="btn-delete">Excluir</button>
        </form>
    </div>
    {% endif %}
        <h2>{{ capitulo.titulocapitulo }}</h2>
        <p>{{ capitulo.conteudocapitulo }}</p>
        {% if capitulo.datacriacao %}
            <small>Criado em: {{ capitulo.datacriacao }}</small>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
