{% extends "base.html" %}
{% block title %}Criar um Capítulo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/criarcapitulo.css') }}">
{% endblock %}

{% block content %}
<div class="create-container">
    <h2>Criar Novo Capitulo</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo do Capitulo:</label>
            <textarea id="conteudo" name="conteudo" rows="8" required></textarea>
        </div>
        <button type="submit">Criar Capitulo</button>
        <a href="{{ url_for('biblioteca.biblioteca') }}" class="btn-cancel">Cancelar</a>
    </form>
</div>
{% endblock %}