<!-- meu codigo -->

{% extends "base.html" %}
{% block title %}Início{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.css">
{% endblock %}

{% block content %}
    <div class="home-container">
        
        <h2>Meus livros</h2>
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        
        <!-- <a href="{{ url_for('livros.create_livro') }}" class="btn-create">Criar Novo Livro</a> -->
        
        {% if livros %}
        <div class="carousel-section">
            <div class="swiper livros-swiper">
                <div class="swiper-wrapper">
                    {% for livro in livros %}
                    <div class="swiper-slide livro-slide" data-id="{{ livro.id }}" data-url="{{ url_for('livros.visualizar_livro', livro_id=livro.id) }}">
                        <span>livro</span>
                        <div>
                            <h2>{{ livro.titulolivro }}</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                                </svg>
                                {% if livro.datacriacao %}
                                    Criado em: {{ livro.datacriacao }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        {% else %}
        <div class="carousel-section">
            <div class="no-items">
                <p>Nenhum livro encontrado. Crie seu primeiro livro!</p>
            </div>
        </div>
        {% endif %}

        <h2>Minhas Ideias</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <!-- <a href="{{ url_for('ideias.create_ideia') }}" class="btn-create">Criar Nova Ideia</a> -->

        {% if ideias %}
        <div class="carousel-section">
            <div class="swiper ideias-swiper">
                <div class="swiper-wrapper">
                    {% for ideia in ideias %}
                    <div class="swiper-slide ideia-slide" data-id="{{ ideia.id }}" data-url="{{ url_for('ideias.visualizar_ideia', ideia_id=ideia.id) }}">
                        <span>ideia</span>
                        <div>
                            <h2>{{ ideia.tituloideia }}</h2>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                                </svg>
                                {% if ideia.datacriacao %}
                                    Criado em: {{ ideia.datacriacao }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        {% else %}
        <div class="carousel-section">
            <div class="no-items">
                <p>Nenhuma ideia encontrada. Crie sua primeira ideia!</p>
            </div>
        </div>
        {% endif %}

        <div class="add-button-container">
            <div class="add-button" id="mainAddButton">+</div>
            <div class="option-buttons" id="optionButtons">
                <a href="{{ url_for('livros.create_livro') }}" class="option-button">
                    <i class="fas fa-book"></i>
                </a>
                <a href="{{ url_for('ideias.create_ideia') }}" class="option-button">
                    <i class="fas fa-lightbulb"></i>
                </a>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mainAddButton = document.getElementById('mainAddButton');
            const optionButtons = document.getElementById('optionButtons');

            mainAddButton.addEventListener('click', function() {
                this.classList.toggle('active');
                optionButtons.classList.toggle('active');
            });
            // Inicializar o Swiper para os livros
            var livrosSwiper = new Swiper(".livros-swiper", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 100,
                    modifier: 2,
                    slideShadows: true
                },
                spaceBetween: 60,
                loop: true,
                pagination: {
                    el: ".livros-swiper .swiper-pagination",
                    clickable: true
                }
            });
            
            // Inicializar o Swiper para as ideias
            var ideiasSwiper = new Swiper(".ideias-swiper", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 100,
                    modifier: 2,
                    slideShadows: true
                },
                spaceBetween: 60,
                loop: true,
                pagination: {
                    el: ".ideias-swiper .swiper-pagination",
                    clickable: true
                }
            });
            
            // Adicionar evento de clique para navegar para a página do livro/ideia
            const livroSlides = document.querySelectorAll('.livros-swiper .swiper-slide');
            livroSlides.forEach((slide) => {
                slide.addEventListener('click', function() {
                    if (this.classList.contains('swiper-slide-active')) {
                        const livroId = this.getAttribute('data-id');
                        window.location.href = this.getAttribute('data-url');
                    }
                });
            });

            const ideiaSlides = document.querySelectorAll('.ideias-swiper .swiper-slide');
            ideiaSlides.forEach((slide) => {
                slide.addEventListener('click', function() {
                    if (this.classList.contains('swiper-slide-active')) {
                        const ideiaId = this.getAttribute('data-id');
                        window.location.href = this.getAttribute('data-url');
                    }
                });
            });
        });
    </script>
{% endblock %}